
/************************
****** Page Layout ******
************************/

@media screen and (min-width:1401px) {
	#content { background-color:white; padding:22px; }
}

@media screen and (min-width:921px) and (max-width:1400px) {
	#content { background-color:white; padding:16px; }
}

@media screen and (min-width:501px) and (max-width:920px) {
	#content { background-color:white; padding:12px; }
}

@media screen and (max-width:500px) {
	#content { background-color:white; padding:10px; }
}
